*{
  font-family: sans-serif;
}

body{
  background-color: #f7f7f7;
}

#logo {
  max-width: 150px;
  max-height: 150px;
}

nav {
  position: fixed;
  width: 250px;
  height: 100%;
  background: #dfdfdf;
  border-right: 1px solid #333;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.05em;

}

nav img{
  width: 70%;
  display: block;
  margin-bottom: 35px;
}

nav a{
  display: inline-block;
  text-decoration: none;
  padding: 5px 15px;
  font-size: 0.9em;
  font-weight: bold;
  color: #222c6a;
  text-transform: uppercase;
  
}

nav a:hover{
  background-color: rgb(198, 232, 243);
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 5; /* Remove margins */
}



main{
  margin-left: 250px;
  padding: 10px;
  color: rgb(15, 15, 15)
}

img{
  max-width: 500px;
  max-height: 300px;
  display: flex;
}

code{
  background-color: #d8d8d8;
  border-radius: 5px 5px 5px 5px;
  padding: 1px;
}


